
#main-home {

    .banner-contain {
       background-size: cover;
    
        border-radius: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    }
    .p-center-left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .banner-contain .banner-details h3 {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-top: -7px;
    }
 
    .textforimage2 {
        padding: calc(
          15px + (20 - 15) * ((100vw - 320px) / (1920 - 320))
        ) !important;
    
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
    .text-exo {
        font-family: "Exo 2",sans-serif;
    }
    .banner-contain .banner-details h4 {
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
        line-height: 1.6;}
    .mend-auto {
        margin-right: auto !important;
        text-align: left;
    }
    .banner-containn {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        border-radius: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    }
    .banner-contain .banner-details h3 {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
        margin-top: -7px;
    }
    .text-exo {
        font-family: "Exo 2",sans-serif;
    }
    h3 {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 500;
        line-height: 1.2;
        margin: 0;
    }
}