#main-home {
  .mobile-menu {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    -webkit-box-shadow: 0 -3px 10px 0px rgb(0 0 0 / 8%);
    box-shadow: 0 -3px 10px 0px rgb(0 0 0 / 8%);
  }

  .mobile-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    margin: 0 auto;
  }

  .mobile-menu ul li {
    width: 100%;
    text-align: center;
  }
  li {
    display: inline-block;
    font-size: 14px;
  }

  .mobile-menu ul li a .icli {
    display: inline-block;
    margin: 0 auto;
    font-size: 22px;
    color: #fff;
  }
  
  .mobile-menu ul li a span {
    display: block;
    color: #fff;
  }
}
