#main-home {

    .bgg{
      
        background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/vegetable/newsletter/1.jpg);
    ;
 

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    z-index: -1;
    }
 

   

    .form-control {
        background-color: #fff;
    }
}