#main-home {
.rating li .feather.fill {
    fill: #ffb321;
    width: 14px;
    height: 14px;
    stroke: #ffb321;
} 


.rating li .feather {
    width: 14px;
    height: 14px;
    stroke: #ffb321;
}
}