#main-home {

.cookie-bar-box {
    background: #fff;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    max-width: 370px;
    overflow: hidden;
    z-index: 1000;
}
.cookie-bar-box .cookie-box
{
padding: 30px;
text-align: center;
}

.cookie-bar-box .cookie-box .cookie-image img {
    width: 22.6px;
    height: auto;
    margin-right: 10px;
}


.cookie-bar-box .cookie-box .cookie-contain h5 {
    font-size: 17px;
    margin: 0 auto;
    line-height: 1.3;
}
.text-content {
    color: #4a5568;
}
.cookie-bar-box .Button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
}
.cookie-bar-box .Button-group Button.privacy-Button {
    background-color: #f8f8f8;
}

.cookie-bar-box .Button-group Button.ok-Button {
    background-color: var(--theme-color);
    color: #fff;
}
.cookie-bar-box .Button-group Button {
    white-space: nowrap;
    width: 100%;
    font-weight: 700;
    border-radius: 0;
}

.cookie-bar-box .cookie-box .cookie-image {
  
    display: flex;
   
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hhide {
    display:none;
    
}
.cookiesbutton {
   
    
    border: none;
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
    z-index: 0;

}
}