#main-home {

    .line{
    
        content: "";
        position: absolute;
     
        border-bottom: 1px dashed rgba(74,85,104,0.3);
        width: calc(100% - 103px);
    }
     .price {
        margin-top: 6px;
        font-weight: 600;
        margin-bottom: -2px;
    }
   
    .product-list li .offer-product .offer-image img {
        width: 80px;
        height: 80px;
    
        object-fit: contain;
        

    }
    .product-list li {
 
        height: 80px;
        position: relative;
    }
    
    .product-list li .offer-product {
        width: 100%;
        height: 100%;
   
        display: flex;
     
        align-items: center;
    }
   
   
    }