#main-home {
    
    @media (max-width: 768px) {

    .cardname{
        line-height: 22px;
        height: 25px;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }}
    @media (max-width: 1440px) {

        .cardname{
            line-height: 22px;
            height: 45px;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
    }
    .product-list li+li:after {
        content: "";
        position: absolute;
        top: -28px;
        right: 0;
        border-bottom: 1px dashed rgba(74,85,104,0.3);
        width: calc(100% - 103px);
    }
     .price {
        margin-top: 6px;
        font-weight: 600;
        margin-bottom: -2px;
    }
   
    .product-list li .offer-product .offer-image img {
        width: 80px;
        height: 80px;
    
        object-fit: contain;
        

    }
    .product-list li {
 
        position: relative;
        display: -webkit-box;
    }
    
    .product-list li .offer-product {
        width: 100%;
        height: 100%;
   
        display: flex;
     
        align-items: center;
    }
   
   
    }